<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>edition-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">edition-list</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="fetchedEditions.length > 0">
    <ion-item *ngFor="let edition of fetchedEditions">
      <ion-label>
        <h2>{{ edition["title"] }}</h2>
        <p>
          <span><b>Publisher(s): </b>{{ edition["publishers"] }}, </span>
          <span><b>Publish date: </b>{{ edition["publish_date"] }}, </span>
          <span><b>Language(s): </b>{{ edition["languages"] }}</span>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more editions...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
