<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Search"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ workName$ | async }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ workName$ | async }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="fetchedEditions$ | async; let editions">
    <ion-item *ngFor="let edition of editions" (click)="redirectEdition(edition)" routerLink="#">
      <img *ngIf="edition.getThumbnail('S') as thumbnail; else noThumbnail" [src]="thumbnail" alt="Book cover"
        slot="start" />
      <ng-template #noThumbnail>
        <ion-icon name="book-outline" slot="start"></ion-icon>
      </ng-template>

      <ion-label>
        <h2>{{ edition.title }}</h2>
        <p>
          <span *ngif="edition.publishers.length > 0"><b>Publisher: </b>{{ edition.publishers.join(', ') }},
          </span>
          <span *ngif="edition.publish_date"><b>Publish date: </b>{{ edition.publish_date }},
          </span>
          <span *ngIf="edition.languages.length > 0"><b>Language: </b>{{ edition.languages.join(', ') }}</span>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more editions...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
