<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Search"></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="(workData$ | async); let data">{{ data.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" *ngIf="(workData$ | async); let data">{{ data.title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="paginator$ | async; let paginator">
    <ion-list *ngIf="paginator.items$ | async; let editions">
      <app-edition-list-item *ngFor="let edition of editions" [edition]="edition"
        routePrefix="tabs/search"></app-edition-list-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="paginator.infiniteScrollEvent($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more editions...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>
</ion-content>
