<ion-header [translucent]="true">
  <ion-toolbar *ngIf="editionData$ | async as data">
    <ion-title>{{ data.title }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Editions"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar *ngIf="editionData$ | async as data">
      <ion-title size="large">{{ data.title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="editionData$ | async as data"> {{ data | json }} </ion-card>
</ion-content>
