<ion-item button (click)="redirectToEdition()">
  <app-lazy-img slot="start" [ngStyle]="{ 'font-size': '35px', width: '40px' }" [src]="edition.getThumbnail('S')"
    errorIconName="image-outline" nullIconName="book-outline">
  </app-lazy-img>

  <ion-label>
    <h2>{{ edition.title }}</h2>
    <p>
      <span *ngIf="edition.publishers.length > 0"><b>Publisher: </b>{{ edition.publishers.join(", ") }},
      </span>
      <span *ngIf="edition.publish_date"><b>Publish date: </b>{{ edition.publish_date }},
      </span>
      <span *ngIf="edition.languages.length > 0"><b>Language: </b>{{ edition.languages.join(", ") }}</span>
    </p>
  </ion-label>
</ion-item>
