<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Search Works</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="openSettings()">
        <ion-icon name="cog" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="onSearchTermChanged()"></ion-searchbar>

  <ion-list *ngIf="paginator.items$ | async; let works">
    <app-work-list-item *ngFor="let work of works" [work]="work" routePrefix="tabs/search"></app-work-list-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="paginator.infiniteScrollEvent($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"
      loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
