<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <app-settings-button></app-settings-button>
    </ion-buttons>

    <ion-title>Favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Favorites</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="paginator.favoriteIds">
    <ng-container *ngIf="paginator.favoriteIds.length > 0; else noItems">
      <ion-card>
        <ion-card-header>Books Added</ion-card-header>
        <ion-card-content>
          <h2>{{ paginator.favoriteIds.length }}</h2>
        </ion-card-content>
      </ion-card>

      <ng-container *ngIf="paginator.items$ | async; let editions">
        <ng-container *ngIf="editions.length > 0; else itemsLoading">
          <ion-list>
            <app-edition-list-item
              *ngFor="let edition of editions"
              [edition]="edition"
              routePrefix="tabs/favorites"
            ></app-edition-list-item>
          </ion-list>
        </ng-container>

        <!-- Paginator doesn't yet contain any items-->
        <ng-template #itemsLoading>
          <ion-row
            style="height: 100%; justify-content: center; align-items: center"
            class="no-items-message"
          >
            <ion-col
              text-center
              [ngStyle]="{'text-align': 'center', color: 'gray'}"
            >
              <ion-spinner size="large" color="medium"></ion-spinner>
              <p class="gray-text">Loading...</p>
            </ion-col>
          </ion-row>
        </ng-template>
      </ng-container>
    </ng-container>

    <!-- User has no favorite items (yet).-->
    <ng-template #noItems>
      <ion-row
        style="height: 100%; justify-content: center; align-items: center"
        class="no-items-message"
      >
        <ion-col
          text-center
          [ngStyle]="{'text-align': 'center', color: 'gray'}"
        >
          <ion-icon name="sad-outline" size="large" color="medium"></ion-icon>
          <p class="gray-text">You don't have any favorite books yet</p>
        </ion-col>
      </ion-row>
    </ng-template>
  </ng-container>

  <ion-infinite-scroll (ionInfinite)="paginator.infiniteScrollEvent($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more editions..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
