<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Search Works</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="onSearchTermChanged()"></ion-searchbar>

  <ion-list *ngIf="items$ | async; let items">
    <ion-item *ngFor="let item of items" (click)="redirectListEditions(item)" routerLink="#">
      <ion-icon name="newspaper-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>{{ item["title"] }}</h2>
        <!-- prettier-ignore -->
        <p>
          <b>Author: </b>{{ item["author_name"] }},
          <b>First Published: </b>{{ item["first_publish_year"] }},
          <b>Editions: </b>{{ item["edition_count"] }}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"
      loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
