<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Search Books </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="onSearchTermChanged()"></ion-searchbar>

  <ion-list *ngIf="items.length > 0">
    <ion-item *ngFor="let item of items"> {{ item['title'] }} </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"
      loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
