<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Search Books </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search Books</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div *ngIf="data$ | async; let results">
      <p><b>Number of results: </b> {{ results["numFound"] }}</p>
      <div *ngFor="let doc of results['docs'];">{{ doc['title'] }}</div>
    </div>
  </div>
</ion-content>
